.my-projects{
    height: 100vh;
    background-image: linear-gradient(to right top, #341a37, #09152a, #293243, #133524, #341c24);

}

.cards{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;

}
.my-projects h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    font-size: 3rem;
    text-decoration:underline;
    color: bisque;
}

@media (max-width: 1024px) {
.my-projects{
    height: 160vh;
}    
.cards{
    flex-direction: column;
}

}
@media (max-width: 768px) {
.my-projects{
    height: 200vh;
}    
.cards{
    flex-direction: column;
}

}
@media (max-width: 576px) {
.my-projects{
        height: 200vh;
}
.my-projects h1{
    font-size: 2rem;
}
.cards{
    flex-direction: column;
    margin-left: 7rem;
}
}

@media (max-width: 400px) {
.my-projects{
    height: 270vh;
}

}