.welcome-page{
    background-image: linear-gradient(to right top, #0e131c, #051f28, #002b2b, #133524, #323d1a);
    height: 100vh;

}
#welcome-word{
    color: burlywood;
}
.welcome-title{
    font-size: 4.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    width: 10ch;
    margin-left: 30%;
    letter-spacing: 0.3rem; 
    line-height: 1.2; 
}

.avatar{
    width: 350px;
    height: 400px;
    border: 3px solid gray;
    position: absolute;
    top: 20%;
    right: 20%;
    background: url('../../assets/cat.jpg') no-repeat center center/cover;
    border-radius: 30%;
    animation: animate 20s infinite linear;
}



@keyframes animate{
    to {
        transform: rotate(360deg);
    }
} 

#go-top{
    position: fixed;
    text-decoration: none;
    color: white;
    right: 3rem;
    top: 88vh;
    padding: 15px;
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414,
    inset 0px -10px 27px -8px #A31925,
    5px 5px 15px 5px rgba(0,0,0,0);
    z-index: 999;
}

#go-top:hover{
    color: green;
    background-color: gold;
}

.button-info-container{
    margin-left: 33%;
    margin-top: 13%;
    padding-bottom: 3%; 
}

.btn-info-styles{
    padding: 10px 20px;
    border: none;
    background-color: #0e131c;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-top: 3px solid #133524;
    border-bottom: 3px solid #133524;
    
    
}
.contact-btn{
    border-right: 3px solid #133524;
    border-left: 3px solid #133524;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.about-btn{
    border-left: 3px solid #133524;
    border-right: 3px solid #133524;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.active-btn{
    border: 3px solid skyblue;
}
@media (max-width: 1024px) {

.avatar{
    margin-top: 20%;
}    
#go-top{
    display: none;
}
}
@media (max-width: 768px) {
.avatar{
    height: 400px;
    margin-top: 10rem;
}
#go-top{
    display: none;
}
}
@media (max-width: 576px) {

#home{
        width: 100%;
}
.welcome-title{
    font-size: 3rem;
    padding-top: 6rem;
    position: relative;
    left: -40px;

}
.avatar{
    width: 200px;
    margin-top: 10rem;
    height: 300px;
    margin-right: 50px;
}
#to-my{
    padding-left: 7rem;
}
#go-top{
    display: none;
}
}

@media (max-width: 400px) {


.avatar{
    height: 200px;
    margin-right: 1rem;
}
#go-top{
    display: none;
}

}
