.about-me{
    height: 70vh;
    background-image: linear-gradient(to right bottom, #1f345c, #09152a, #293243, #133524, #323d1a);

}

.about-me h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    font-size: 3rem;
    text-decoration:underline;
    color: bisque;
}

.about-spans{
    color: burlywood;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    font-size: 1.7rem;
    line-height: 1.7;

}

@media (max-width: 576px) {

.about-me{
    height: 50vh;
}
.about-me h1{
    font-size: 2rem;
}
.about-info {
    font-size: 0.9rem;
    margin-top: 5rem;
    padding-left: 10px;
    line-height: 3;
}
}