.nav-bar{
    height: 70px;
    background-image: linear-gradient(to bottom, #0e320e, #0e270d, #0d1d0a, #071306, #010201);
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    z-index: 9999;
    opacity: 0.9;

}

.logo{
    margin-left: 7%;
    padding-top: 0.3%;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    width: 12ch;
}
#logo{
    color: white;
    text-decoration: none; 
}

.info-container{
    margin-left: 50%;
    margin-top: 1.3%;
    font-size: 1.5rem;
}

.info-container a{
    color: white;
    margin-left: 10%;
    text-decoration: none;
    font-weight: bold;
    
}
.info-container a:hover{
    border: 3px solid wheat;
    border-top: none;
    border-right: none;
    border-left: none;

}